@import 'common.css';
.el-container,
.el-header,
.el-main {
  padding: 0 !important;
}
.icon {
  width: 1.7em;
  height: 1.7em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}
