@import './common.css';

html, body {
  font-size: 13px;
  user-select: none;
}

.el-container, .el-header, .el-main {
  padding: 0 !important;
}

.icon {
  width: 1.7em; height: 1.7em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}

.el-menu {
  border-right: none !important;
}

.el-menu .el-sub-menu .el-sub-menu__title, 
.el-menu .el-sub-menu .el-sub-menu__title .contacts-list-item-title {
  height: 30px !important;
}

.el-menu .el-sub-menu .el-sub-menu__title:hover {
  background-color: #fff !important;
}

.el-menu .el-sub-menu .el-sub-menu__title .el-icon {
  display: none !important;
}

@media screen and (min-width: 1000px) {
  // html, body {
  //   font-size: 16px;
  // }
  .contacts-container .contacts-content {
    flex: 5;
  }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  // html, body {
  //   font-size: 15px;
  // }
  .contacts-container .contacts-content {
    // flex: 4 !important;
  }
}

@media screen and (max-width: 768px) {
  // html, body {
  //   font-size: 14px;
  // }
  .contacts-container .contacts-content {
    flex: 0 !important;
    // display: none;
  }
}