:root {
  --mouse-hover-active: rgba(0, 0, 0, 0.1);
  --header-background-color: rgba(209, 209, 209, 0.59);
  --nav-default-color: #9b9b9b;
  --nav-active-color: #1aadf9;
  --border-color: #e6e6e6;
  --title-font-size: 18px;
  --title-font-weight: 600;
  --small-desc-size: 8px;
  --desc-color: rgba(0, 0, 0, 0.4);
  --friend-info-background-color: rgba(170, 211, 255, 0.5);
  --avatar-active-border-color: #2ccb53;
  --pyq-name-color: #2b75d6;
  --pyq-name-font-size: 16px;
  --pyq-comments-background-color: #f6f6f6;
  --pyq-comments-user-color: #2765b7be;
}
